streamlit
python-dotenv
langchain
langchain-community
langchain-core
#langchain-text-splitters
langchain-huggingface
langchain-groq
pypdf
nltk
faiss-cpu
sentence-transformers
pytesseract
pdf2image
transformers
